Source: schroot
Section: admin
Priority: optional
Maintainer: Debian buildd-tools Developers <buildd-tools-devel@lists.alioth.debian.org>
Uploaders: Michael Banck <mbanck@debian.org>, Roger Leigh <rleigh@debian.org>, Francesco Paolo Lovergine <frankie@debian.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libpam0g-dev, libglib2.0-dev, uuid-dev, liblockdev1-dev (>= 1.0.2-1), libboost-dev, libboost-program-options-dev, gettext, libcppunit-dev
Standards-Version: 3.6.2

Package: schroot
Architecture: any
Depends: ${shlibs:Depends}
Suggests: unzip
Description: Execute commands in a chroot environment
 schroot allows users to execute commands or interactive shells
 in different chroots.  Any number of named chroots may be
 created, and access permissions given to each, including root
 access for normal users, on a per-group basis.  Additionally,
 schroot can switch to a different user in the chroot, using PAM
 for authentication and authorisation.  All operations are logged
 for security.
 .
 schroot shares most of its options with dchroot, but offers
 vastly more functionality.
